<!DOCTYPE html>
<html>
    <head>
        <title>DEMO APP</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet"> 
        <meta name="viewport" content="width=device-width">
        <link href="/stylesheets/index.css" rel="stylesheet">
    </head>
    <body>
        <div id="container" style="padding: 20px;">
            <h1>Nothing found ... </h1>
            <h3>Visit our home page</h3>
            <form action="/" method="GET">
                <button class="pagination-btn">Let's GO</button>
            </form>
        </div>
    </body>
</html>